.sub-menu {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin: 0 10rem;
}

.sub-menu__category {
    margin: 0 1rem;
    /* cursor: pointer; */
    .p-button.p-button-text {
        color: black;
    }

}

