.auction-header {
    display: flex;

    .title {
        margin-right: 5rem;

        .information-tags {
            margin-top: 1rem;
        }

        p-tag {
            margin-right: .2rem;
        }
    }

    .featured-image {
        max-width: 30rem;
        padding: 5rem;
        background-color: #0a10141f;
        box-shadow: 0 2px 2px #0a10143d, 0 0 2px #0a10141f;
    }

    .bidding-container {

        .seller-data {
            height: 4.9925rem;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            margin-bottom: 2rem;
            p{
                cursor: pointer;
            }

            .seller-chips {
                p-chip {
                    margin-right: .2rem;
                }
            }
        }

        .bid-area {
            display: flex;
        }

        .bid-input {
            display: flex;
            flex-direction: column;
            margin: 0rem 1rem 0rem 0rem;

            .currency-display {
                margin-left: .8rem;
            }

            div {
                margin-bottom: .8rem;
            }
        }

        .description {
            margin: 1rem 0rem;
        }

        .add-to-list {
            margin-bottom: 1rem;
        }

        .additonal-images-list {

            .card-list {
                display: flex;
                justify-content: center;
            }

            img {
                margin: 0rem 2rem;
                max-width: 6.5rem;
                cursor: pointer;
            }

            img:hover {
                opacity: 75%;
                position: relative;
                top: -1rem;
            }
        }
    }
}