<div class="auction-header">
    <div class="title">
        <h1>{{ featuredListing.listingTitle}}</h1>
        <img class="featured-image" alt="Card" src="assets\BlueEyesWhiteDragon-MAMA-EN-URPR-1E.webp" />
        <div class="information-tags">
            <p-tag>{{ featuredListing.setPrefix }}</p-tag>
            <p-tag>Super Rare</p-tag>
            <p-tag>Mint Condition</p-tag>
        </div>
    </div>
    <div class="bidding-container">
        <div class="seller-data">
            <p (click)="navigateToSellerProfile()">Seller Name</p>
            <div class="seller-chips">
                <p-chip>94% Positive</p-chip>
                <p-chip>Other Items</p-chip>
                <p-chip>Send Message</p-chip>
            </div>
        </div>
        <div class="bid-area">
            <div class="bid-input">
                <div>Total Bids:</div>
                <div>Current Bid:</div>
                <div>
                    <p-button styleClass="p-button-info" label="Place Bid"></p-button>
                </div>
            </div>
            <div class="bid-input">
                <div class="currency-display">{{ featuredListing.totalBids }}</div>
                <div class="currency-display">{{ featuredListing.currentPrice | currency}}</div>
                <div>
                    <input [placeholder]="'$' +  featuredListing.currentPrice" type="number" pInputText />
                </div>
            </div>
        </div>
        <div class="description">
            <p-card header="Seller Description">
                <div>
                    {{ featuredListing.previewDescription }}
                </div>
            </p-card>
        </div>
        <div class="add-to-list">
            <p-toast position="top-center"></p-toast>
            <p-button styleClass="p-button-info" (click)="showSavedToastMessage()" label="Save For Later"></p-button>
        </div>
        <div class="additonal-images-list">
            <p-card subheader="Additonal Images">
                <div class="card-list">
                    <img alt="Card" src="assets\BlueEyesWhiteDragon-MAMA-EN-URPR-1E.webp" />
                    <img alt="Card" src="assets\BlueEyesWhiteDragon-MAMA-EN-URPR-1E.webp" />
                    <img alt="Card" src="assets\BlueEyesWhiteDragon-MAMA-EN-URPR-1E.webp" />
                    <img alt="Card" src="assets\BlueEyesWhiteDragon-MAMA-EN-URPR-1E.webp" />
                </div>
            </p-card>
        </div>
    </div>
</div>