.auction-list-container {
    margin: 5rem 10rem;
}


.auction-list-item {
    padding: 1rem;
    display: flex;
    width: 90%;
}


.auction-list-item__thumbnail-image {
    max-width: 11rem;
    min-width: 11rem;
    padding: 1rem;
    background-color: #0a10141f;
    box-shadow: 0 2px 2px #0a10143d, 0 0 2px #0a10141f;

}

.auction-list-item__listing-information {
    margin-left: 1rem;
    line-height: 2rem;

    .p-tag {
        background-color: var(--blue-500);
    }
}

.auction-list-item__bid-information {
    margin-left: auto;
    line-height: 2rem;
    .p-chip {
        color: black;
    }
}