<app-search-bar-header></app-search-bar-header>


<div class="signup-form-container">
    <p-card header="Signup">
        <p class="m-0">
           Already have an Account? Sign in here
        </p>
        <label htmlFor="username">Username:</label>
        <input class="username_input" id="username" type="text" pInputText />

        <label htmlFor="password">Password:</label>
        <br>
        <p-password class="password_input" id="password" [feedback]="false"></p-password>
    </p-card>
</div>