.sign-up-container {
    margin: 5rem 40rem;
}

.sign-up-card__content {
    display: flex;
    flex-direction: column;

    h2{
        align-self: center;
    }

    p{
        align-self: center;
    }

    p-button{
        align-self: center;
        margin: 1.25rem 0rem 0rem 0rem;
    }
}

p-password {
    div {
       width: 100%;
       input {
        width: 100%;
       }
    }
   
}
