.sign-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.form-input {
    width: 100%;
}

p-password {
    div {
       width: 100%;
       input {
        width: 100%;
       }
    }
   
}

