<p-card [header]="featuredListing.listingTitle" [subheader]="featuredListing.setPrefix" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <div class="playing-card-container">
            <img alt="Card" (click)="navigateToAuction()" [src]="featuredListing.imageArt" />
        </div>
    </ng-template>
    <div class="listing-data">
        <p-chip label="Bids: {{ featuredListing.totalBids}}"></p-chip>
        <p-chip label="Current: {{ featuredListing.currentPrice | currency }}"></p-chip>
        <p-chip label="Days: {{ featuredListing.timeRemaining }}"></p-chip> 
    </div>
    <p>
        {{ featuredListing.previewDescription }}
    </p>
    <ng-template pTemplate="footer">
        <div class="bid-button">
            <p-button (click)="navigateToAuction()" label="Bid Now"></p-button>
        </div>
        <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button> -->
    </ng-template>
</p-card>