.user-profile-container {
    margin: 2rem 10rem;

    .p-card {
        background-color: #ced4da;
    }
}

.user-profile-header {
    display: flex;
    flex-direction: row;
}

.user-profile__user-information {
    width: 40%;
}

.user-profile__personal-message{
    width: 30%;
}

.user-profile__contact{
  margin-left: auto;
  text-decoration: underline;
  cursor: pointer;
}


.user-profile-image {
    max-width: 4rem;
}

.float-right{
    float: right;
}
