<app-search-bar-header></app-search-bar-header>

<div class="sell-content">
    <h2>Sell on Collectable Trader!</h2>
    <h2>The premier platform for serious collectors</h2>
    <h4> Welcome to our premier collector card auction platform! 
        Are you a passionate collector or an enthusiast looking to dive into the exciting world of collectible cards?
        Here's why you should join us</h4>
    <div>
        <ul>
            <li>
                Global Reach: Join a vibrant community of collectors from around the world. Our platform connects buyers and sellers globally, 
                giving you access to items that you may not find locally.
            </li>
            <li>Access to a Wide Range of Items: Whether you're hunting for rare vintage gems or the latest modern collectibles, our platform offers an 
                extensive selection that caters to every collector's taste and preference.</li>
            <li>Market Transparency: Bid with confidence knowing that our platform provides transparent pricing based on recent auction results. You'll always have a clear picture 
                of the current market value of your favorite cards.</li>
            <li>Authentication and Verification: Rest easy knowing that each item on our platform undergoes rigorous authentication and verification processes. Bid with confidence, 
                knowing that you're getting authentic, high-quality collectibles.</li>
            <li>Community Engagement: Immerse yourself in a community of fellow collectors. Our platform provides forums, discussions, 
                and interactive features where you can share your passion, knowledge, and experiences with like-minded individuals.</li>
        </ul>
    </div>
</div>